
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="m-3">
    <h2>Welcome Admin Page</h2>
</div>
<hr />
<div class="m-3">
    <iframe src="/Home/Index" style="width: 100%; height: 500px;">

    </iframe>
</div>

